/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-background: rgb(17, 19, 97);
    --minor-bg: rgb(251, 251, 251);
    --small-bg: rgb(255, 255, 255); 
    --btn-bg: rgb(10, 146, 221);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerContainer{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    background-color: var(--main-background);
    flex-direction: column;
    padding-top: 2em;
    gap: 4em;
    padding-top: 8em;
}

header{
    display: flex;
    height: 5em;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: var(--main-background);
    top: 0;
    z-index: 999;


    img{

    }
}
nav{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: .7rem;
    font-family: arial;
}
.loginBtn{
    padding: .6em 1.8em;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
}
.consultBox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.consultBox a{
    text-decoration: none;
    color: rgb(216, 153, 37);
    width: 240px;
    height: 3.4em;
    border-radius: 5em;
    background-color: var(--main-background);
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-family: arial;
}
.teamManage{
    display: flex;
    color: white;
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7em;
    position: relative;
}
.teamManage1{
    position: absolute;
    bottom: 6em;
    left: 16px;
}
.teamManage2{
    position: absolute;
    top: 2em;
    right: 16px;
}
.teamManages{
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;

    h{
        font-family: arial;
        font-size: 1.7em;
    }


    h{
        font-size: 13px;
        width: 360px;
        letter-spacing: .09em;
    }
}
.teamManageBtn{
    background-color: var(--btn-bg);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    padding: .9em 4em;
    width: 200px;
} */
/* .shiftCon{
    width: 100%;
    transform: translateY(50%);
}
.shiftCon img{
    width: 50%;
    transform: translateX(50%);
} */



/* 
@media (max-width: 750px){
    .teamManage{
        width: 100%;
    }

} */